[submodule "mplayer"]
	path = mplayer
	url = git://repo.or.cz/mplayer.git
[submodule "libass"]
	path = libass
	url = git://repo.or.cz/libass.git
[submodule "libav"]
	path = libav
	url = git://repo.or.cz/FFMpeg-mirror/mplayer-patches.git
[submodule "SMPlayer2"]
	path = SMPlayer2
	url = git://github.com/lachs0r/SMPlayer2.git
