*.pyc
/build_libs
/libav_build
# Debian package build creates random files under debian/.
# Ignore the whole directory even though that will cause some problems.
/debian
/build-stamp
/configure-stamp
