[submodule "mplayer"]
	path = mplayer
	url = git://repo.or.cz/mplayer.git
[submodule "libass"]
	path = libass
	url = git://repo.or.cz/libass.git
[submodule "libav"]
	path = libav
	url = git://repo.or.cz/FFMpeg-mirror/mplayer-patches.git
